{% extends "base.html" %}

{% macro render_list_group_item(title, text) %}
  {% if text %}
    <p class="list-group-item-text">{{ title }}: {{ text }}</p>
  {% endif %}
{% endmacro %}
{% block content %}
<h1>Users</h1>
<ul class="list-group">
  {% for user in userslist %}
  <li class="list-group-item">
    <h4 class="list-group-item-heading">{{ user.user.nickname() }}</h4>
    {{ render_list_group_item('Gender', user.gender|join(", ")) }}
    {{ render_list_group_item('About', user.about) }}
    {{ render_list_group_item('Interests', user.interests|join(", ")) }}
  </li>
  {% endfor %}
</ul>
{% endblock %}
