{% extends "base.html" %}

{% macro render_list_group_item(title, text) %}
  {% if text %}
    <li class="list-group-item">
      <h4 class="list-group-item-heading">{{ title }}</h4>
      <p class="list-group-item-text">{{ text }}</p>
    </li>
  {% endif %}
{% endmacro %}
{% block content %}
<h1>User {{ user.user.nickname() }}</h1>
  <ul class="list-group">
    {{ render_list_group_item('Gender', user.gender|join(", ")) }}
    {{ render_list_group_item('About', user.about) }}
    {{ render_list_group_item('Interests', user.interests|join(", ")) }}
  </ul>
{% endblock %}
